html {
  font-size: 16px;
  background-color: #F8F8F8;
}

body {
  width: 800px;
  margin: 10px auto;
  background-color: #ffffffdc;
  padding: 0 20px 20px 20px;
  border: 1px solid black;
  vertical-align:center;
}

h1 {
  font-size: xx-large;
  text-align: center;
  letter-spacing: 2px;
}

h2 {
  text-align: center;
}
h3 {
  font-size: medium;
}
h4 {
  font-size: small;
}

li {
  line-height: 2;
  letter-spacing: 1px;
}

hr {
  border: 0px solid #333;
  margin: 20px 0;
  height: 2px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

img {
  display: block;
  margin: 0 auto;
}

.rightColumn {
	line-height: 1;
	letter-spacing: 1px;
    float: right;
    width: 30%;
	text-align:right;
}

.leftColumn {
	line-height: 1;
	letter-spacing: 1px;
  float: left;
  width: 70%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.4s;
}

/*
https://stackoverflow.com/questions/71398473/how-do-you-change-a-unicode-content-icons-color
found some interesting unicodes here https://symbl.cc/en/2212/
*/
.accordion:after {
  content: '\00ff0b'; /* Unicode character for "plus" sign (+) */
  font-size: 20px;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212"; /* Unicode character for "minus" sign (-) */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  /*outline: 2px inset blue;*/
  color: darkblue;
  /*background: lightgray;*/
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  display: none;
  overflow: hidden;
}
